<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>study3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>driver</servlet-name>
		<servlet-class>com.study.servlet.DriverLoader</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>com.study.servlet.StudyDispatcherController</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/config/study_uri.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>*.wow</url-pattern>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>logging</filter-name>
		<filter-class>com.study.filter.LoggingFilter</filter-class>
	</filter>

	<filter>
		<filter-name>IPCheck</filter-name>
		<filter-class>com.study.filter.IPCheckFilter</filter-class>
	</filter>

	<filter>
		<filter-name>loginCheck</filter-name>
		<filter-class>com.study.filter.LoginCheckFilter</filter-class>
	</filter>

	<!-- filter-mapping 등록된 순서 및 매핑정보로 체인 설정 -->
	<filter-mapping>
		<filter-name>logging</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>IPCheck</filter-name>
		<url-pattern>*.wow</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>loginCheck</filter-name>
		<url-pattern>/mypage/*</url-pattern>
		<url-pattern>/member/*</url-pattern>
	</filter-mapping>



	<!-- url-pattern : 4가지 확장자 매핑 : *.soju , *시작하고 확장자 (회사 도메인, *.nhn(네이버)) 
		경로 매핑 : /board/* , /시작하고 (*)로 끝나는 패턴 서블릿 매핑 : / , 이미 등록된 매핑을 제외하고 모든 요청 처리 
		(JSP 매핑은 WAS에 이미 등록 되어있음) 완전 매핑 : /admin/hello.do , "/"로 시작, 완전한 하나의 url을 
		가지는 매핑 <error-page> <error-code>500</error-code> <location>/WEB-INF/err/error500.jsp</location> 
		</error-page> -->
</web-app>